@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;600;800&display=swap');
@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply text-gray-800 bg-[#B8E8DB] font-[Playpen_Sans] antialiased;
}

.layout-main {
  @apply min-h-screen w-full bg-[#B8E8DB] relative;
}

.header {
  @apply w-full px-8 py-4 absolute top-0 left-0 bg-white shadow-md;
}

.form-wrapper {
  @apply min-h-screen flex items-center justify-center;
}

.layout-form {
  @apply bg-white rounded-2xl shadow-xl p-8 w-[500px] h-[550px] flex flex-col justify-center;
}




