@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;600;800&display=swap');




:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Playpen Sans', cursive; 
}


.rounded-lg {
  border-radius: 0.5rem; 
}

.shadow-xl {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.focus\:border-\[\#26a69a\]:focus {
  border-color: #26a69a;
}

.focus\:ring-\[\#26a69a\]:focus {
  --tw-ring-color: #26a69a;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.layout-main {
  min-height: 100vh;
  width: 100%;
  background-color: #B8E8DB;
  position: relative;
}

.header {
  width: 100%;
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
}

.form-wrapper {
  min-height: 100vh;       
  display: flex;
  align-items: center;     
  justify-content: center; 
}

.layout-form {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 2rem;
  width: 500px;
  height: 550px;
  box-shadow: 0px 4px 15px #ADADAD;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.react-calendar {
  border: none !important;
  background: white;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

.react-calendar__tile--active {
  background: #81B7A9 !important;
  color: white !important;
}

.react-calendar__tile--now {
  background: #E7F3F0 !important;
}

/* MATIKAN ICON PASSWORD BAWAAN BROWSER */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}
